{% extends 'layouts/base.html.twig' %}

{% block title 'Changer le mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto vh-100">
            <h1 class="text-center my-5">Changer le mot de passe</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="mt-4 btn btn-primary btn-lg btn-block">
                    Mettre à jour le mot de passe
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
