<header>

	{% for type, messages in app.flashes(['success','info','danger']) %}

		{% for message in messages %}

			<div class="alert alert-{{type}} rounded text-center" role="alert">
				{{message}}
			</div>

		{% endfor %}

	{% endfor %}


</header>
