<footer class="footer text-center mt-5">

	<p class="">

		<small>

			&copy;
			{{ 'now'|date('Y')}}
			&middot;
			
			        Built with
			<span class="text-danger">&hearts;</span>
			by Grpupe 3

		</small>

	</p>


</footer>
{# 
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="title" style="font-size:16px;">Entreprise Collecte de Dechet</h6>
      <p>L'entreprise collecte des déchets a pour principale mission la vente de déchets collecte dans les villes de Djibouti.</p>
      <p class="btmspace-15"> La confidentialité de vos donnees personnel est notre priorite , Merci pour votre confiance .</p>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Addresse et Contacte</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
		  Pk12 Balbala Djibouti &amp; BP: 1904
          </address>
        </li>
        <li><i class="fa fa-phone"></i> + 253 21 36 23 15</li>
        <li><i class="fa fa-fax"></i> + 253 21 36 15 62</li>
        <li><i class="fa fa-envelope-o"></i> NOREPLY.COLLECT.DECHETS@GMAIL.COM </li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="title">Horaire d'ouverture et fermeture</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Ouverture</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Tout le jour , Sauf Vendredi et Samedi </time>
            <p class="nospace">de 8h a 12h  de 14h a 17h&hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">Anniversaire</a></h2>
            <time class="font-xs block btmspace-10" datetime="2020-01-01">Thirsday, 5<sup>th</sup> April 2020</time>
            <p class="nospace">Date de la creation de l'entreprise&hellip;</p>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">  
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2020 - All Rights Reserved - <a href="#">Entreprise Collecte de Dechets</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>



  #}
