{# <footer class="footer text-center mt-5">
   
    <p class="text-muted">

        <small>

        &copy; {{ 'now'|date('Y')}} &middot;

        Built with <span class="text-danger">&hearts;</span> by Grpupe 3

        </small>

    </p>

    
    
</footer> #}

<footer class="footer">
	<div class="footer_top">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-md-6 col-lg-3">
					<div class="footer_widget">
						<div class="footer_logo">
							<a href="{{path('app_archives_home_page')}}" class="footer__logo___text">
								<span>A</span>rchive</a>
						</div>
						<p>
							Esteem spirit temper too say adieus who
							<br>
							direct esteem. It esteems luckily or
							<br>
							picture placing drawing.
						</p>
						<div class="socail_links">
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="col-xl-2 col-md-6 col-lg-3">
					<div class="footer_widget">
						<h3 class="footer_title">
							Call use:
						</h3>
						<ul>
							<li><a href="#" class="text-white">Mobile</a></li>
							<li><a href="#">(+253) 77xxxxxx</a></li>
							<li><a href="#" class="text-white">Fax</a></li>
							<li><a href="#">(+253) 21xxxxxx</a></li>

						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-md-6 col-lg-2">
					<div class="footer_widget">
						<h3 class="footer_title">
							Email:
						</h3>
						<ul>
							<li>
								<a href="#">univ.dj@gmail.com</a>
							</li>
							<li>
								<a href="#" class="text-white">suive nous sur:</a>
							</li>
							<div class="socail_links">
								<li>
									<ul>
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-google"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-4 col-md-6 col-lg-4">
						<div class="footer_widget">
							<h3 class="footer_title">
								Subscribe
							</h3>
							<form action="#" class="newsletter_form">
								<input type="text" placeholder="Enter your mail">
								<button type="submit">Subscribe</button>
							</form>
							<p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems
								                                luckily.</p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="copy-right_text">
			<div class="container">
				<div class="footer_border"></div>
				<div class="row">
					<div class="col-xl-12">
						<p class="copy_right text-center text-muted">
							<small>

								&copy;
								{{ 'now'|date('Y')}}
								&middot;
								
								        Built with
								<span class="text-danger">&hearts;</span>
								by Grpupe 3

							</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
