{# <footer class="footer text-center mt-5">

	<p class="">

		<small>

			&copy;
			{{ 'now'|date('Y')}}
			&middot;
			
			        Built with
			<span class="text-danger">&hearts;</span>
			by Grpupe 3

		</small>

	</p>


</footer> #}

<!-- Footer -->
<footer class="footer page-footer font-small mdb-color lighten-3 pt-4 mt-4 bg-dark text-light ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Gestion de Archives</h5>
        <p>Ici vous pouvez trouver des archives de projets réaliser par des étudiants au cours de leurs cursurs universitauire.</p>
        <p>Les projets sont organiser en fonction des filiére , des années et du type de projet.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">A propos</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJETS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">A propos de nous</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">ADRESSE</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> DJibouti, RN 3, Djibouti</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> archive3@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 253 77 44 00 77</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> + 253 77 78 19 10</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> + 253 21 36 51 98</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Suivez nous</h5>

        <!-- Facebook -->
        <p>
          <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
        </p>
        <!-- Twitter -->
        <p>
        
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
        </p>
        <!-- Google +-->
        <p>
          <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </p>
        <!-- Dribbble -->
        
          <a type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
        

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">&copy;
			{{ 'now'|date('Y')}}
			&middot;
			
			  Developper avec      			
        <span class="text-danger">&hearts;</span>
			par Hodan;Kaltoune;Zeinab
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->