{% extends "layouts/base.html.twig" %}

{% block title %} 

 {% if not edit %}
			 {{ parent()}} | Modification de l'archive
            {{archive.title}}
        {% else %}
            New Archive
        {% endif %}
 {% endblock %}

{% block body %}

	<div class="row">

		<div class="col-md-6 mx-auto">

			{% include "archives/_form.html.twig" %}

		</div>

	</div>

{% endblock %}
