{% extends 'layouts/base.html.twig' %}

{% block title 'Page d\'accueil'%}

{% block body %}

    <h1>Liste des archives </h1>

    {% for archive in archives %}

    <div class="card bg-light mb-3 d-inline-block border-dark" style="max-width: 20rem;">
    
    <div class="card-body">
        <h4 class="card-title">{{archive.title}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Encadre par {{archive.encadreur}}</h6>
        <p class="card-text">{{archive.description}}</p>
        <a href="{{path('app_archives_show',{slug:archive.slug,id:archive.id})}}" class="card-link">voir plus</a>
        <a href="#" class="card-link">Another link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
    </div>
        
    {% endfor %}

{% endblock %}
