{% extends 'layouts/base.html.twig' %}

{% block title  parent() ~ ' | Page d\'accueil '  %}

{% block body %}


<div class="contenaire text-center mt-4 ">

<p text-center > Bienvenue sur l'Archive de l'universite  </p>
<p class="text-muted"> dfgjhkjdscyuvuiguigyufuyyukyukdyu </p>
<p class=""> <a href="{{path('app_security_login')}}" class="btn btn-danger">Commencez</a></p>

</div>




{% endblock %}