{% extends 'layouts/base.html.twig' %}

{% block title  parent() ~ ' | Page d\'accueil '  %}

{% block css %}
	
<style>
    @import url('https://fonts.googleapis.com/css?family=Numans');
	html,body{
	background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: 'Numans', sans-serif;
	}

   h6{
       color: rgba(207,207,207,1);
   }
</style>
{% endblock %}

{% block body  %}



    <div class="d-inline-flex flex-column justify-content-center align-items-center vh-100 badge badge-primary text-wrap text-white "   style="font-size: 20px;">
        
		
                
        <h2 class="p-2"> Bienvenue sur l'Archive de l'universite  
        </h2>
        <h6 class="mt-4 font-weight-bold">
            Vous pouvez trouver ici , les projet et les mini projet des ans precedente avec des description detaille et une mise a jour regulieur . <br> Vous attendez quoi pour vous inscrire ? Allez-ci     
        </h6> 
        
        <a href="{{path('app_security_login')}}" class="p-2 m-4 btn btn-outline-danger ">S'authentifier</a>
        
    </div>
   





{% endblock %}

{% block footer %}{% endblock %}