{% extends 'layouts/base.html.twig' %}

{% block title  parent() ~ ' | Page d\'accueil '  %}

{% block body %}


<div class="contenaire text-center mt-4 ">

<p text-center > Bienvenue sur l'Archive de l'universite  </p>
<p class="text-muted"> Vous pouvez trouver ici , les projet et les mini projet des ans precedente avec des description detaille et une mise a jour regulieur . Vous attendez quoi pour vous inscrire ? Allez-ci  </p>
<p class=""> <a href="{{path('app_security_login')}}" class="btn btn-danger">Commencez</a></p>

</div>




{% endblock %}